<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/customer/layout :: dynamic(~{::main})}">

<body>	
	<main class="wrapperMain_content">
		<section class="bread-crumb">
			<span class="crumb-border"></span>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 a-left">
						<ul class="breadcrumb">
							<li class="home">
								<a href="https://template-digiworld.mysapo.net/"><span>Trang chủ</span></a>
								<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
							</li>
	
							<li><strong><span>Giỏ hàng</span></strong></li>
	
						</ul>
					</div>
				</div>
			</div>
		</section>
			
			<section class="main-cart-page main-container col1-layout">
				<div class="main container cartpcstyle">
					<div class="wrap_background_aside cartbg margin-bottom-40">
						<div class="header-cart">
							<div class="title-block-page">
								<h1 class="title-module">
									<span>Giỏ hàng của bạn có 1 sản phẩm</span>
								</h1>
							</div>
						</div>
						<div class="col-lg-12 col-12 order-lg-1 order-2 colcartleft col-lg-12">
							<div class="cart-page d-xl-block d-none">
								<div class="drawer__inner">
									<div class="CartPageContainer">
			 
										<form action="" method="post" novalidate="" class="cart ajaxcart cartpage">
											<div class="cart-header-info">
												<div>Ảnh sản phẩm</div><div>Tên sản phẩm</div><div>Kích cỡ</div><div>Số lượng</div><div>Thành tiền</div><div>Xóa</div>
											</div>
											<div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items">
												<div class="ajaxcart__row" th:each="c :${itemList}">
													<div class="ajaxcart__product cart_product" data-line="1" >
														<div class="grid__item cart_info">
														<a href="/op-lung-iphone-6-6s-memo-totem" class="ajaxcart__product-image cart_image" title="Ốp lưng iPhone 6/6S Memo Totem"><img th:src="@{|/customerAssets/images/${c.product.thumnail}|}" alt="Ốp lưng iPhone 6/6S Memo Totem"></a>
															<div class="ajaxcart__product-name-wrapper cart_name">
																<a href="/op-lung-iphone-6-6s-memo-totem" class="ajaxcart__product-name h4" title="Ốp lưng iPhone 6/6S Memo Totem" th:text="${c.product.product.name}"></a>
															</div>
													
															<div class="grid prices">
																<div class="grid__item one-half text-right cart_prices">
																	<span class="cart-price" th:text="${c.product.size}"></span>
																	 
																	
																</div>
															</div>
															<div class="grid select">
																<div class="grid__item one-half cart_select">
																	<div class="ajaxcart__qty input-group-btn">
																		<button type="button" class="btn btn-default btn-number" onclick="var result = document.getElementById('${c.product.product.name}'); var qty = result.value; if( !isNaN(qty) & qty > 1 ) result.value--;return false;" data-type="minus" data-field="quant[1]">-</button>
																		<input class="ajaxcart__qty-num input-number" maxlength="3" th:value="${c.quantity}" id="${c.product.product.name}" type="number" name="quant[1]"  pattern="[0-9]*">
																		<a type="button" class="btn btn-default btn-number" onclick="var result = document.getElementById('${c.product.product.name}'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" data-type="plus" data-field="quant[1]">
																			+							
																		</a>
																	</div>
																</div>
															</div>
															<div class="grid prices">
																<div class="grid__item one-half text-right cart_prices" >
																	<span class="cart-price" th:text="${c.product.product.price * c.quantity}"></span>
																	
																</div>
															</div>
															<div class="grid remove">
															    <a class="cart__btn-remove remove-item-cart ajaxifyCart--remove" th:href="@{|/cart/delete/${c.id}|}" data-line="1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"></path></svg></a>
											                </div>
														</div>
													</div>
												</div>
										
												
												<div class="ajaxcart__row d-none">
													<label for="CartSpecialInstructions" class="txt--minor">Ghi chú:</label>
													<textarea name="note" class="input-full ajaxcart__note" id="CartSpecialInstructions"></textarea>
												</div>
											</div>
											<div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer" th:object="${dto}">
												<div class="row">
													<div class="col-lg-12 coltotal">
														<div class="ajaxcart__subtotal">
															<div class="cart__subtotal">
																<div class="cart__col-6">Tổng tiền:</div>
																<div class="text-right cart__totle" ><span class="total-price" th:text="${dto.totalCost}"></span></div>
															</div>
														</div>
													</div>
													<div class="col-lg-12 coltotal_tt">
														<div class="tt">
														    <a class="btn btn-white f-left" title="Tiếp tục mua hàng" type="button" th:href="@{|/product/index2|}"><span>Tiếp tục mua hàng</span></a>
											            </div>
														 <div class="cart__btn-proceed-checkout-dt">
															<a type="button" th:href="@{|/checkouts|}"  class="button btn btn-default cart__btn-proceed-checkout" id="btn-proceed-checkout" title="Thực hiện thanh toán">Thực hiện thanh toán</a>
												        </div>
											        </div>
												</div>
											</div>
										</form>
										
										</div>
								</div>
							</div>
							<div class="cart-mobile-page d-block d-xl-none">
								<div class="CartMobileContainer"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" media="all">
	</main>

	<script type="text/javascript">

	$('.btn-number').click(function(e){
	    e.preventDefault();
	    
	    fieldName = $(this).attr('data-field');
	    type      = $(this).attr('data-type');
	    var input = $("input[name='"+fieldName+"']");
	    var currentVal = parseInt(input.val());
	    if (!isNaN(currentVal)) {
	        if(type == 'minus') {
	            
	            if(currentVal > input.attr('min')) {
	                input.val(currentVal - 1).change();
	            } 
	            if(parseInt(input.val()) == input.attr('min')) {
	                $(this).attr('disabled', true);
	            }

	        } else if(type == 'plus') {

	            if(currentVal < input.attr('max')) {	
	                input.val(currentVal + 1).change();
	            }
	            if(parseInt(input.val()) == input.attr('max')) {
	                $(this).attr('disabled', true);
	            }

	        }
	    } else {
	        input.val(0);
	    }
	});
	$('.input-number').focusin(function(){
	   $(this).data('oldValue', $(this).val());
	});
	$('.input-number').change(function() {
	    
	    minValue =  parseInt($(this).attr('min'));
	    maxValue =  parseInt($(this).attr('max'));
	    valueCurrent = parseInt($(this).val());
	    
	    name = $(this).attr('name');
	    if(valueCurrent >= minValue) {
	        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
	    } else {
	        alert('Sorry, the minimum value was reached');
	        $(this).val($(this).data('oldValue'));
	    }
	    if(valueCurrent <= maxValue) {
	        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
	    } else {
	        alert('Sorry, the maximum value was reached');
	        $(this).val($(this).data('oldValue'));
	    }
	    
	    
	});
	$(".input-number").keydown(function (e) {
	        // Allow: backspace, delete, tab, escape, enter and .
	        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
	             // Allow: Ctrl+A
	            (e.keyCode == 65 && e.ctrlKey === true) || 
	             // Allow: home, end, left, right
	            (e.keyCode >= 35 && e.keyCode <= 39)) {
	                 // let it happen, don't do anything
	                 return;
	        }
	        // Ensure that it is a number and stop the keypress
	        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
	            e.preventDefault();
	        }
	    });
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" media="all">
	
	 <link rel="preload" as="style" href="//bizweb.dktcdn.net/100/289/371/themes/883177/assets/main.scss.css?1667212443268">
    <link href="//bizweb.dktcdn.net/100/289/371/themes/883177/assets/main.scss.css?1667212443268" rel="stylesheet" type="text/css">
	<link rel="preload" as="style" type="text/css" href="//bizweb.dktcdn.net/100/289/371/themes/883177/assets/ajaxcart.scss.css?1667212443268" class="">
</body>
</html>