<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/customer/layout :: dynamic(~{::main})}">
	
<body>
	<main>
		<section class="bread-crumb">
			<span class="crumb-border"></span>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 a-left">
						<ul class="breadcrumb">
							<li class="home">
								<a href="https://template-digiworld.mysapo.net/"><span>Trang chủ</span></a>
								<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
							</li>
	
							<li>
								<a href="https://template-digiworld.mysapo.net/tin-tuc"><span>Tin tức</span></a>
								<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
							</li>
							<li><strong><span>Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy
										S9</span></strong></li>
	
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="container article-wraper" itemscope="" itemtype="http://schema.org/Article">
			<meta itemprop="mainEntityOfPage"
				content="/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9">
			<meta itemprop="description" content="">
			<meta itemprop="author" content="Đào Thiện Hải">
			<meta itemprop="headline"
				content="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9">
			<meta itemprop="image"
				content="https://bizweb.dktcdn.net/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
			<meta itemprop="datePublished" content="22-01-2018">
			<meta itemprop="dateModified" content="22-01-2018">
			<div itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
				<div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
					<img class="hidden" src="./images/logo.png" alt="Digiworld">
					<meta itemprop="url"
						content="https://bizweb.dktcdn.net/100/289/371/themes/853089/assets/logo.png?1665374051412">
					<meta itemprop="width" content="400">
					<meta itemprop="height" content="60">
				</div>
				<meta itemprop="name" content="Digiworld">
			</div>
			<div class="row">
				<section class="right-content col-lg-9 col-lg-push-3">
					<div class="box-heading relative">
					</div>
					<article class="article-main">
						<div class="row">
							<div class="col-lg-12">
	
								<div class="article-details">
	
									<h1 class="article-title"><a
											href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9">Samsung
											đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9</a></h1>
									<div class="date">
										<div class="post-time">
											<i class="fa fa-user" aria-hidden="true"></i>
											Đăng bởi <span>Đào Thiện Hải</span>
										</div>
										<i class="fa fa-clock-o"></i> Thứ Mon,
										<div class="news_home_content_short_time">
											22/01/2018
										</div>
									</div>
	
									<div class="article-content">
										<div class="rte">
											<p>Tập đoàn Samsung sản xuất hàng ngàn thiết bị điện tử khác nhau mỗi năm, từ
												smartphone cho đến tủ lạnh. Gần đây, hãng còn lấn sân sang cả mảng thiết kế
												vỏ bọc ngoài cho điện thoại. Đặc biệt hơn, phụ kiện mới mà gã khổng lồ Hàn
												Quốc đang ấp ủ được đánh giá là mang tính đột phá nhất từ trước tới nay.
												Không sản phẩm nào trên thị trường hiện tại có thể so sánh cùng, nhưng dường
												như người tiêu dùng sẽ phải đợi khá lâu để thấy bản thương mại.</p>
											<p><img src="http://genknews.genkcdn.vn/2017/samsung-1-1509944001663.jpg"></p>
											<p>Hôm 5/11, Văn phòng Sáng chế và Nhãn hiệu thương mại của Mỹ (USPTO) đã chấp
												thuận bằng sáng chế mới của Samsung với mô tả là phụ kiện cách mạng trên
												smartphone, máy tính bảng và các thiết bị có màn hình khác.</p>
											<p>Đó giống như loại bao da thông minh cho điện thoại, vừa bảo vệ máy khỏi các
												tác động bên ngoài, đồng thời trang bị nút bấm để nhanh chóng khởi chạy ứng
												dụng.</p>
											<p>Mô tả trong bằng sáng chế cho biết, phụ kiện có vùng cảm ứng bên ngoài và cả
												mặt trong mà khi nhấp chạm sẽ cho phép mở ứng dụng cụ thể nào đó lên.</p>
											<p>Gã khổng lồ Hàn Quốc khẳng định việc sử dụng loại phụ kiện này sẽ giúp khách
												hàng tiết kiệm khoảng không gian trên màn hình thiết bị vốn bị chiếm khá
												nhiều bởi các icon.</p>
											<p>Một bằng sáng chế tương tự dành cho máy tính mà ở đó, phụ kiện đóng vai trò
												giúp chuyển đổi qua lại giữa tablet và laptop. Bên ngoài bao lưng chứa các
												nút có thể sử dụng ngay cả khi máy tính gấp lại. Nhấn nút cảm ứng rồi mở nắm
												lên thì ngay lập tức, ứng dụng tương ứng sẽ khởi chạy.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="row row-noGutter tag-share">
	
									<div class="col-xs-12 col-sm-6 tag_article ">
										<b>Tags:</b>
	
										<a
											href="https://template-digiworld.mysapo.net/blogs/all/tagged/phu-kien-dien-thoai">phụ
											kiện điện thoại</a>
	
									</div>
	
	
									<div class="col-xs-12 col-sm-6">
										<div class="social-sharing f-right">
											<div class="addthis_inline_share_toolbox share_add"
												data-url="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9"
												data-title="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9"
												data-description="Tập đoàn Samsung sản xuất hàng ngàn thiết bị điện tử khác nhau mỗi năm, từ smartphone cho đến tủ lạnh. Gần đây, hãng còn lấn sân sang cả mảng thiết kế vỏ bọc">
												<div id="atstbx"
													class="at-share-tbx-element at-share-tbx-native addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show">
													<a class="addthis_button_tweet at_native_button at300b">
														<div class="tweet_iframe_widget" style="width: 62px; height: 25px;">
															<span><iframe id="twitter-widget-0" scrolling="no"
																	frameborder="0" allowtransparency="true"
																	allowfullscreen="true"
																	class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
																	style="position: static; visibility: visible; width: 73px; height: 20px;"
																	title="Twitter Tweet Button"
																	src="./images/tweet_button.7dae38096d06923d683a2a807172322a.vi.html"
																	data-url="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9#.Y1Nr_VnSZ6k.twitter"></iframe></span>
														</div>
													</a><a class="addthis_button_pinterest_pinit at300b"
														pi:pinit:layout="horizontal"
														pi:pinit:url="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9">
														<div class="pin_it_iframe_widget" style="height: 25px;"><span><span
																	class="PIN_1666411518209_button_pin PIN_1666411518209_save"
																	data-pin-log="button_pinit_bookmarklet"
																	data-pin-href="https://www.pinterest.com/pin/create/button/">Lưu</span></span>
														</div>
													</a><a class="addthis_button_linkedin_counter at_native_button at300b">
														<div class="linkedin_counter_iframe_widget"
															style="width: 57px; height: 25px;"><span><iframe
																	title="AddThis | LinkedIn Button" frameborder="0"
																	role="presentation" scrolling="no"
																	allowtransparency="true" scrollbars="no"
																	style="width:57px; height:25px;"
																	src="./images/linkedin.html"></iframe></span>
														</div>
													</a><a class="addthis_counter addthis_pill_style at_native_button"
														href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9#"
														style="display: inline-block;"><a
															class="atc_s addthis_button_compact">Chia sẻ<span></span></a><a
															class="addthis_button_expanded" target="_blank" title="Thêm..."
															href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9#"></a></a>
													<div class="atclear"></div>
												</div>
											</div>
										</div>
									</div>
	
								</div>
							</div>
							<div class="col-xs-12">
								<div class="block-recent">
									<h2 class="title-form-coment">Tin tức khác:</h2>
									<ul>
	
	
	
	
	
										<li>
											<a
												href="https://template-digiworld.mysapo.net/apple-chinh-thuc-ban-cong-chuyen-cho-phep-vua-cam-sac-vua-nghe-nhac-tren-iphone">Apple
												chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone
												8</a><span class="date_style">(22/01/2018)</span>
										</li>
	
	
	
										<li>
											<a
												href="https://template-digiworld.mysapo.net/can-canh-phu-kien-ban-phim-qwerty-cho-moto-z2-play-cuc-doc-dao">Cận
												cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo</a><span
												class="date_style">(22/01/2018)</span>
										</li>
	
	
	
										<li>
											<a
												href="https://template-digiworld.mysapo.net/antutu-samsung-la-thuong-hieu-bi-lam-hang-gia-nhieu-nhat-nam-2017">Antutu:
												Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017</a><span
												class="date_style">(22/01/2018)</span>
										</li>
	
	
									</ul>
								</div>
							</div>
	
	
							<div class="col-xs-12">
	
	
								<div id="article-comments">
									<h5 class="title-form-coment">Bình luận:</h5>
									<div class="hidden">2 bình luận</div>
	
									<div class="article-comment clearfix">
										<figure class="article-comment-user-image">
											<img src="./images/a2767fa4b6945e2dde8b3cdb54ad2a62" alt="binh-luan"
												class="block">
										</figure>
	
										<div class="article-comment-user-comment">
											<p class="user-name-comment"><strong>đinh thế anh</strong>
												<a href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9#article_comments"
													class="btn-link pull-xs-right hidden">Trả lời</a>
											</p>
											<span class="article-comment-date-bull">05/10/2022</span>
											<p>b</p>
	
										</div>
									</div>
	
									<div class="article-comment clearfix">
										<figure class="article-comment-user-image">
											<img src="./images/a2767fa4b6945e2dde8b3cdb54ad2a62" alt="binh-luan"
												class="block">
										</figure>
	
										<div class="article-comment-user-comment">
											<p class="user-name-comment"><strong>đinh thế anh</strong>
												<a href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9#article_comments"
													class="btn-link pull-xs-right hidden">Trả lời</a>
											</p>
											<span class="article-comment-date-bull">05/10/2022</span>
											<p>a</p>
	
										</div>
									</div>
	
								</div>
								<div class="text-xs-right">
	
								</div>
	
	
	
								<form accept-charset="utf-8"
									action="https://template-digiworld.mysapo.net/posts/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9/comments"
									id="article_comments" method="post">
									<input name="FormType" type="hidden" value="article_comments">
									<input name="utf8" type="hidden" value="true">
	
	
	
	
									<div class="col-lg-12">
										<div class="form-coment">
											<div class="row">
												<div class="margin-top-0 margin-bottom-30">
													<h5 class="title-form-coment">Gửi bình luận của bạn:</h5>
												</div>
												<div class="">
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-4">
															<fieldset class="form-group">
																<input placeholder="Họ và tên" type="text"
																	class="form-control form-control-lg" value=""
																	id="full-name" name="Author" required="">
															</fieldset>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-4">
															<fieldset class="form-group">
																<input placeholder="Email"
																	pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
																	type="email" class="form-control form-control-lg"
																	value="" name="Email" required="">
															</fieldset>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-4">
															<fieldset class="form-group">
																<input placeholder="Số điện thoại" type="text" pattern="\d+"
																	class="form-control form-control-lg" name="Phone"
																	required="">
															</fieldset>
														</div>
													</div>
												</div>
												<fieldset class="form-group col-xs-12 col-sm-12 col-md-12">
													<textarea placeholder="Viết bình luận"
														class="form-control form-control-lg" id="comment" name="Body"
														rows="6" required=""></textarea>
												</fieldset>
												<div class="margin-bottom-50 clearfix">
													<button type="submit" class="btn btn-primary">Gửi bình luận</button>
												</div>
											</div>
										</div> <!-- End form mail -->
									</div>
								</form>
							</div>
	
	
						</div>
					</article>
				</section>
	
				<aside class="blog_hai left left-content col-lg-3 col-lg-pull-9">
					<aside class="aside-item sidebar-category collection-category">
						<div class="aside-title">
							<h2 class="title-head margin-top-0"><span>Danh mục tin tức</span></h2>
						</div>
						<div class="aside-content">
							<nav class="nav-category navbar-toggleable-md">
								<ul class="nav navbar-pills">
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/">Trang chủ
										</a>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/gioi-thieu">Giới
											thiệu
										</a>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a href="https://template-digiworld.mysapo.net/collections/all" class="nav-link">Sản
											phẩm
										</a>
										<i class="fa fa-angle-down"></i>
										<ul class="dropdown-menu">
	
	
											<li class="dropdown-submenu nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/pin-cap-bo-sac">Pin, Cáp
													&amp; Bộ sạc
												</a>
												<i class="fa fa-angle-down"></i>
												<ul class="dropdown-menu">
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/pin-sac-du-phong">Pin
															sạc sự phòng</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 4</a>
															</li>
	
														</ul>
													</li>
	
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/pin-cap-bo-sac">Dây
															cáp sạc</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 4</a>
															</li>
	
														</ul>
													</li>
	
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/pin-cap-bo-sac">Sạc
															điện thoại</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 4</a>
															</li>
	
														</ul>
													</li>
	
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/vo-bao-op-lung">Ốp
															lưng điện thoại</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 4</a>
															</li>
	
														</ul>
													</li>
	
	
												</ul>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/vo-bao-op-lung">Vỏ, bao
													&amp; Ốp lưng
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/pin-sac-du-phong">Pin sạc dự
													phòng
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/gia-do-kep">Giá đỡ &amp; Kẹp
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/loa-nghe-nhac">Phụ kiện nghe
													nhạc
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/gay-chup-hinh">Gậy chụp hình
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/mieng-dan-man-hinh">Miếng
													dán màn hình
												</a>
											</li>
	
	
	
										</ul>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/tin-tuc">Tin khuyến
											mãi
										</a>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/lien-he">Liên hệ
										</a>
									</li>
	
	
								</ul>
							</nav>
						</div>
					</aside>
	
	
					<div class="blog-aside aside-item blog-aside-article">
						<div>
							<div class="aside-title-article">
								<h2 class="title-head"><span><a href="https://template-digiworld.mysapo.net/tin-tuc">Tin tức
											liên quan</a></span></h2>
							</div>
							<div class="aside-content-article">
								<div class="blog-list blog-image-list">
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<img src="./images/samsung-1-1509944001663.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9"
														alt="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9"
													title="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9">Samsung
													đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy
													S9</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/apple-chinh-thuc-ban-cong-chuyen-cho-phep-vua-cam-sac-vua-nghe-nhac-tren-iphone">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<img src="./images/photo-0-1506911859655.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8"
														alt="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/apple-chinh-thuc-ban-cong-chuyen-cho-phep-vua-cam-sac-vua-nghe-nhac-tren-iphone"
													title="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8">Apple
													chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên
													iPhone 8</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/can-canh-phu-kien-ban-phim-qwerty-cho-moto-z2-play-cuc-doc-dao">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<img src="./images/img-5130-1-1515764136401.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo"
														alt="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/can-canh-phu-kien-ban-phim-qwerty-cho-moto-z2-play-cuc-doc-dao"
													title="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo">Cận
													cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/antutu-samsung-la-thuong-hieu-bi-lam-hang-gia-nhieu-nhat-nam-2017">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<img src="./images/dienthoaisamsunggia-800x450.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017"
														alt="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/antutu-samsung-la-thuong-hieu-bi-lam-hang-gia-nhieu-nhat-nam-2017"
													title="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017">Antutu:
													Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
								</div>
							</div>
						</div>
					</div>
	
				</aside>
	
			</div>
		</div>
		<div id="_atssh"
			style="visibility: hidden; height: 1px; width: 1px; position: absolute; top: -9999px; z-index: 100000;"><iframe
				id="_atssh830" title="AddThis utility frame"
				style="height: 1px; width: 1px; position: absolute; top: 0px; z-index: 100000; border: 0px; left: 0px;"
				src="./images/sh.f48a1a04fe8dbf021b4cda1d.html"></iframe></div>
		<style id="service-icons-0"></style>

	
		
		<link rel="preconnect" href="https://fonts.googleapis.com/">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
		<link href="/customerAssets/css2" rel="stylesheet">
	
		<iframe scrolling="no" frameborder="0" allowtransparency="true"
			src="./images/widget_iframe.7dae38096d06923d683a2a807172322a.html" title="Twitter settings iframe"
			style="display: none;"></iframe><iframe id="rufous-sandbox" scrolling="no" frameborder="0"
			allowtransparency="true" allowfullscreen="true"
			style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;"
			title="Twitter analytics iframe" src="./images/saved_resource.html"></iframe>
		</main>
	</body>
	
</html>