<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/customer/layout :: dynamic(~{::main})}">
	
<body>
	<main>
		<section class="bread-crumb">
			<span class="crumb-border"></span>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 a-left">
						<ul class="breadcrumb">
							<li class="home">
								<a href="https://template-digiworld.mysapo.net/"><span>Trang chủ</span></a>
								<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
							</li>
	
	
							<li><strong><span>Tin tức</span></strong></li>
	
	
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="container" itemscope="" itemtype="http://schema.org/Blog">
			<meta itemprop="name" content="Tin tức">
			<meta itemprop="description"
				content="Template Digiworld đặc biệt phù hợp với các website bán điện thoại đi động, phụ kiện điện thoại, thời trang - trang sức, thủ công mỹ nghệ - quà tặng...">
			<div class="row">
				<section class="right-content margin-bottom-50 col-md-9 col-md-push-3">
					<div class="box-heading relative">
						<h1 class="title-head page_title">Tin tức</h1>
					</div>
	
					<section class="list-blogs blog-main">
						<div class="row">
	
							<div class="col-sm-12 blog_xxx">
								<article class="blog-item">
									<div class="row">
										<div class="col-lg-5">
											<div class="blog-item-thumbnail">
												<a
													href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9">
	
	
													<img src="./images/samsung-1-1509944001663.jpg"
														data-src="//bizweb.dktcdn.net/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873"
														style="max-width:100%;" class="lazyload img-responsive loaded"
														title="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9"
														alt="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9"
														data-was-processed="true">
	
	
												</a>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="blog-item-info">
	
												<h3 class="blog-item-name"><a
														href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9">Samsung
														đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy
														S9</a>
												</h3>
												<div class="date"><i class="fa fa-clock-o"></i> Monday,
													<div class="news_home_content_short_time">
														22/01/2018
													</div>
													<span class="cmt_count_blog">
														<i class="fa fa-comments" aria-hidden="true"></i>(2) Bình luận
													</span>
												</div>
												<p class="blog-item-summary"> Tập đoàn Samsung sản xuất hàng ngàn thiết bị
													điện tử khác nhau mỗi năm, từ smartphone cho đến tủ lạnh. Gần đây, hãng
													còn lấn sân sang cả mảng thiết kế vỏ bọc ngoài cho điện thoại. Đặc biệt
													hơn, phụ kiện mới mà gã khổng lồ Hàn...</p>
											</div>
										</div>
									</div>
								</article>
							</div>
	
							<div class="col-sm-12 blog_xxx">
								<article class="blog-item">
									<div class="row">
										<div class="col-lg-5">
											<div class="blog-item-thumbnail">
												<a
													href="https://template-digiworld.mysapo.net/apple-chinh-thuc-ban-cong-chuyen-cho-phep-vua-cam-sac-vua-nghe-nhac-tren-iphone">
	
	
													<img src="./images/photo-0-1506911859655.jpg"
														data-src="//bizweb.dktcdn.net/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507"
														style="max-width:100%;" class="lazyload img-responsive loaded"
														title="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8"
														alt="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8"
														data-was-processed="true">
	
	
												</a>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="blog-item-info">
	
												<h3 class="blog-item-name"><a
														href="https://template-digiworld.mysapo.net/apple-chinh-thuc-ban-cong-chuyen-cho-phep-vua-cam-sac-vua-nghe-nhac-tren-iphone">Apple
														chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên
														iPhone 8</a>
												</h3>
												<div class="date"><i class="fa fa-clock-o"></i> Monday,
													<div class="news_home_content_short_time">
														22/01/2018
													</div>
													<span class="cmt_count_blog">
														<i class="fa fa-comments" aria-hidden="true"></i>(0) Bình luận
													</span>
												</div>
												<p class="blog-item-summary"> Cách đây một năm, Apple ra mắt iPhone 7 và
													iPhone 7 Plus với một đột phá lớn về công nghệ. Đó là việc khai tử jack
													cắm tai nghe 3.5mm và tích hợp cổng âm thanh này vào kết nối lightning.
													Nhờ vậy, bạn sẽ không thể vừa...</p>
											</div>
										</div>
									</div>
								</article>
							</div>
	
							<div class="col-sm-12 blog_xxx">
								<article class="blog-item">
									<div class="row">
										<div class="col-lg-5">
											<div class="blog-item-thumbnail">
												<a
													href="https://template-digiworld.mysapo.net/can-canh-phu-kien-ban-phim-qwerty-cho-moto-z2-play-cuc-doc-dao">
	
	
													<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
														data-src="//bizweb.dktcdn.net/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273"
														style="max-width:100%;" class="lazyload img-responsive"
														title="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo"
														alt="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo">
	
	
												</a>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="blog-item-info">
	
												<h3 class="blog-item-name"><a
														href="https://template-digiworld.mysapo.net/can-canh-phu-kien-ban-phim-qwerty-cho-moto-z2-play-cuc-doc-dao">Cận
														cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo</a>
												</h3>
												<div class="date"><i class="fa fa-clock-o"></i> Monday,
													<div class="news_home_content_short_time">
														22/01/2018
													</div>
													<span class="cmt_count_blog">
														<i class="fa fa-comments" aria-hidden="true"></i>(2) Bình luận
													</span>
												</div>
												<p class="blog-item-summary"> Cầm trên tay bàn phím cứng Moto Mod mà
													hãng Livermorium làm cho chiếc Moto Z2 Play, tôi không khỏi xúc
													động khi kỷ niệm về chiếc smartphone Android đầu tiên của
													Motorola, Droid, cũng sở hữu bàn phím QWERTY , ùa về. Thế nhưng
													ngay sau khi dùng...</p>
											</div>
										</div>
									</div>
								</article>
							</div>
	
							<div class="col-sm-12 blog_xxx">
								<article class="blog-item">
									<div class="row">
										<div class="col-lg-5">
											<div class="blog-item-thumbnail">
												<a
													href="https://template-digiworld.mysapo.net/antutu-samsung-la-thuong-hieu-bi-lam-hang-gia-nhieu-nhat-nam-2017">
	
	
													<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
														data-src="//bizweb.dktcdn.net/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447"
														style="max-width:100%;" class="lazyload img-responsive"
														title="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017"
														alt="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017">
	
	
												</a>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="blog-item-info">
	
												<h3 class="blog-item-name"><a
														href="https://template-digiworld.mysapo.net/antutu-samsung-la-thuong-hieu-bi-lam-hang-gia-nhieu-nhat-nam-2017">Antutu:
														Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017</a>
												</h3>
												<div class="date"><i class="fa fa-clock-o"></i> Monday,
													<div class="news_home_content_short_time">
														22/01/2018
													</div>
													<span class="cmt_count_blog">
														<i class="fa fa-comments" aria-hidden="true"></i>(0) Bình luận
													</span>
												</div>
												<p class="blog-item-summary"> Hầu hết mọi người từng có kinh nghiệm hoặc
													nghe kể từ một ai đó đã trở thành nạn nhân của giới buôn hàng nhái. Họ
													xuất hiện gần như ở tất cả những thành phố lớn, trên những con phố nhộn
													nhịp và cung cấp điện thoại iPhone...</p>
											</div>
										</div>
									</div>
								</article>
							</div>
	
						</div>
					</section>
					<div class="row">
						<div class="col-xs-12 text-left">
	
	
						</div>
					</div>
	
				</section>
	
				<aside class="blog_hai left left-content col-md-3 col-md-pull-9">
					<aside class="aside-item sidebar-category collection-category">
						<div class="aside-title">
							<h2 class="title-head margin-top-0"><span>Danh mục tin tức</span></h2>
						</div>
						<div class="aside-content">
							<nav class="nav-category navbar-toggleable-md">
								<ul class="nav navbar-pills">
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/">Trang chủ
										</a>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/gioi-thieu">Giới
											thiệu
										</a>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a href="https://template-digiworld.mysapo.net/collections/all" class="nav-link">Sản
											phẩm
										</a>
										<i class="fa fa-angle-down"></i>
										<ul class="dropdown-menu">
	
	
											<li class="dropdown-submenu nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/pin-cap-bo-sac">Pin, Cáp
													&amp; Bộ sạc
												</a>
												<i class="fa fa-angle-down"></i>
												<ul class="dropdown-menu">
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/pin-sac-du-phong">Pin
															sạc sự phòng</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc dự
																	phòng 4</a>
															</li>
	
														</ul>
													</li>
	
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/pin-cap-bo-sac">Dây
															cáp sạc</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Dây cáp
																	sạc 4</a>
															</li>
	
														</ul>
													</li>
	
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/pin-cap-bo-sac">Sạc
															điện thoại</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Sạc điện
																	thoại 4</a>
															</li>
	
														</ul>
													</li>
	
	
	
													<li class="dropdown-submenu nav-item lv3">
														<a class="nav-link"
															href="https://template-digiworld.mysapo.net/vo-bao-op-lung">Ốp
															lưng điện thoại</a>
														<i class="fa fa-angle-down"></i>
														<ul class="dropdown-menu">
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 1</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 2</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 3</a>
															</li>
	
															<li class="dropdown-submenu nav-item lv4">
																<a class="nav-link"
																	href="https://template-digiworld.mysapo.net/">Ốp lưng
																	điện thoại 4</a>
															</li>
	
														</ul>
													</li>
	
	
												</ul>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/vo-bao-op-lung">Vỏ, bao
													&amp; Ốp lưng
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/pin-sac-du-phong">Pin sạc dự
													phòng
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/gia-do-kep">Giá đỡ &amp; Kẹp
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/loa-nghe-nhac">Phụ kiện nghe
													nhạc
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/gay-chup-hinh">Gậy chụp hình
												</a>
											</li>
	
	
	
											<li class="nav-item lv2">
												<a class="nav-link"
													href="https://template-digiworld.mysapo.net/mieng-dan-man-hinh">Miếng
													dán màn hình
												</a>
											</li>
	
	
	
										</ul>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/tin-tuc">Tin khuyến
											mãi
										</a>
									</li>
	
	
	
									<li class="nav-item lv1">
										<a class="nav-link" href="https://template-digiworld.mysapo.net/lien-he">Liên hệ
										</a>
									</li>
	
	
								</ul>
							</nav>
						</div>
					</aside>
	
	
					<div class="blog-aside aside-item blog-aside-article">
						<div>
							<div class="aside-title-article">
								<h2 class="title-head"><span><a href="https://template-digiworld.mysapo.net/tin-tuc">Tin tức
											liên quan</a></span></h2>
							</div>
							<div class="aside-content-article">
								<div class="blog-list blog-image-list">
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/samsung-1-1509944001663.jpg?v=1516616547873">
													<img src="./images/samsung-1-1509944001663.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9"
														alt="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/samsung-dang-ky-bang-sang-che-loai-phu-kien-mang-tinh-cach-mang-cho-galaxy-s9"
													title="Samsung đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy S9">Samsung
													đăng ký bằng sáng chế loại phụ kiện mang tính cách mạng cho Galaxy
													S9</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/apple-chinh-thuc-ban-cong-chuyen-cho-phep-vua-cam-sac-vua-nghe-nhac-tren-iphone">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/photo-0-1506911859655.jpg?v=1516616457507">
													<img src="./images/photo-0-1506911859655.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8"
														alt="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/apple-chinh-thuc-ban-cong-chuyen-cho-phep-vua-cam-sac-vua-nghe-nhac-tren-iphone"
													title="Apple chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên iPhone 8">Apple
													chính thức bán cổng chuyển cho phép vừa cắm sạc vừa nghe nhạc trên
													iPhone 8</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/can-canh-phu-kien-ban-phim-qwerty-cho-moto-z2-play-cuc-doc-dao">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/img-5130-1-1515764136401.jpg?v=1516616315273">
													<img src="./images/img-5130-1-1515764136401.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo"
														alt="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/can-canh-phu-kien-ban-phim-qwerty-cho-moto-z2-play-cuc-doc-dao"
													title="Cận cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo">Cận
													cảnh phụ kiện bàn phím QWERTY cho Moto Z2 Play cực độc đáo</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
									<div class="loop-blog">
										<div class="thumb-left">
											<a
												href="https://template-digiworld.mysapo.net/antutu-samsung-la-thuong-hieu-bi-lam-hang-gia-nhieu-nhat-nam-2017">
	
												<picture>
													<source media="(max-width: 480px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 481px) and (max-width: 767px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 768px) and (max-width: 1023px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 1024px) and (max-width: 1199px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<source media="(min-width: 1200px)"
														srcset="//bizweb.dktcdn.net/thumb/small/100/289/371/articles/dienthoaisamsunggia-800x450.jpg?v=1516616189447">
													<img src="./images/dienthoaisamsunggia-800x450.jpg"
														style="max-width:100%;" class="img-responsive"
														title="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017"
														alt="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017">
												</picture>
	
											</a>
										</div>
										<div class="name-right">
											<h3><a href="https://template-digiworld.mysapo.net/antutu-samsung-la-thuong-hieu-bi-lam-hang-gia-nhieu-nhat-nam-2017"
													title="Antutu: Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017">Antutu:
													Samsung là thương hiệu bị làm hàng giả nhiều nhất năm 2017</a></h3>
											<div class="date"><i class="fa fa-clock-o"></i>Monday, <div
													class="news_home_content_short_time">
													22/01/2018</div>
											</div>
										</div>
									</div>
	
								</div>
							</div>
						</div>
					</div>
	
				</aside>
	
	
			</div>
		</div>
		<div class="ab-module-article-mostview"></div>
		<div class="ajax-load">
			<span class="loading-icon">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
					y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
					xml:space="preserve">
					<rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
							repeatCount="indefinite"></animate>
					</rect>
					<rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
							repeatCount="indefinite"></animate>
					</rect>
					<rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
							repeatCount="indefinite"></animate>
					</rect>
				</svg>
			</span>
		</div>
	
		<div class="loading awe-popup">
			<div class="overlay"></div>
			<div class="loader" title="2">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
					y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
					xml:space="preserve">
					<rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
							repeatCount="indefinite"></animate>
					</rect>
					<rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
							repeatCount="indefinite"></animate>
					</rect>
					<rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
							repeatCount="indefinite"></animate>
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
							repeatCount="indefinite"></animate>
					</rect>
				</svg>
			</div>
	
		</div>
	
		<div class="addcart-popup product-popup awe-popup">
			<div class="overlay no-background"></div>
			<div class="content">
				<div class="row row-noGutter">
					<div class="col-xl-6 col-xs-12">
						<div class="btn btn-full btn-primary a-left popup-title"><i class="fa fa-check"></i>Thêm vào giỏ
							hàng thành công
						</div>
						<a href="javascript:void(0)" class="close-window close-popup"><i class="fa fa-close"></i></a>
						<div class="info clearfix">
							<div class="product-image margin-top-5">
								<img alt="popup" src="./images/logo.png"
									style="max-width:150px; height:auto">
							</div>
							<div class="product-info">
								<p class="product-name"></p>
								<p class="quantity color-main"><span>Số lượng: </span></p>
								<p class="total-money color-main"><span>Tổng tiền: </span></p>
	
							</div>
							<div class="actions">
								<button class="btn  btn-primary  margin-top-5 btn-continue">Tiếp tục mua hàng</button>
								<button class="btn btn-gray margin-top-5" >Kiểm tra
									giỏ hàng</button>
							</div>
						</div>
	
					</div>
				</div>
	
			</div>
		</div>
		<div class="error-popup awe-popup">
			<div class="overlay no-background"></div>
			<div class="popup-inner content">
				<div class="error-message"></div>
			</div>
		</div>
	
		<div id="popup-cart" class="modal fade" role="dialog">
			<div id="popup-cart-desktop" class="clearfix">
				<div class="title-popup-cart">
					<img src="./images/icon-check.png" alt="Digiworld"> <span class="your_product">Bạn đã
						thêm <span class="cart_name_style">[ <span class="cart-popup-name"></span>]</span> vào giỏ hàng
						thành công ! </span>
				</div>
				<div class="wrap_popup">
					<div class="title-quantity-popup">
						<span class="cart_status" >Giỏ hàng của bạn có <span
								class="cart-popup-count">0</span> sản phẩm </span> <i class="fa fa-caret-right"
							aria-hidden="true"></i>
					</div>
					<div class="content-popup-cart">
						<div class="thead-popup">
							<div style="width: 53%;" class="text-left">Sản phẩm</div>
							<div style="width: 15%;" class="text-center">Đơn giá</div>
							<div style="width: 15%;" class="text-center">Số lượng</div>
							<div style="width: 17%;" class="text-center">Thành tiền</div>
						</div>
						<div class="tbody-popup scrollbar-dynamic"></div>
						<div class="tfoot-popup">
							<div class="tfoot-popup-1 a-right clearfix">
								<span class="total-p popup-total">Tổng tiền thanh toán: <span
										class="total-price">0₫</span></span>
							</div>
							<div class="tfoot-popup-2 clearfix">
								<a class="button buy_ btn-proceed-checkout" title="Tiếp tục mua hàng"
									><span><span>Tiếp tục mua
											hàng</span></span></a>
								<a class="button checkout_ btn-proceed-checkout" title="Thực hiện thanh toán"
									href="https://template-digiworld.mysapo.net/checkout"><span>Thực hiện thanh
										toán</span></a>
	
							</div>
						</div>
					</div>
					<a title="Close" class="quickview-close close-window" href="javascript:;"
						><i class="fa  fa-close"></i></a>
				</div>
			</div>
	
		</div>
		<div id="myModal" class="modal fade" role="dialog">
		</div>
		<!-- Quick view -->
	
	
	
		<div id="quick-view-product" class="quickview-product" style="display:none;">
			<div class="quickview-overlay fancybox-overlay fancybox-overlay-fixed"></div>
			<div class="quick-view-product"></div>
			<div id="quickview-modal" style="display:none;">
				<div class="block-quickview primary_block row">
	
					<div class="product-left-column col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="clearfix image-block">
							<span class="view_full_size">
								<a class="img-product" title="" href="https://template-digiworld.mysapo.net/tin-tuc#">
									<img id="product-featured-image-quickview"
										class="img-responsive product-featured-image-quickview"
										src="./images/logo.png" alt="quickview">
								</a>
							</span>
							<div class="loading-imgquickview" style="display:none;"></div>
						</div>
						<div class="more-view-wrapper clearfix">
							<div class="thumbs_quickview" id="thumbs_list_quickview">
								<ul class="product-photo-thumbs quickview-more-views-owlslider" id="thumblist_quickview">
								</ul>
							</div>
						</div>
					</div>
					<div class="product-center-column product-info product-item col-xs-5 col-sm-7 col-md-7 col-lg-7">
						<div class="head-qv">
							<h3 class="qwp-name">abc</h3>
							<div class="vend-qv">
								<div class="left_vend">
									<span class="vendor_"></span>
									<span class="line">|</span>
									Tình trạng: <span class="soluong"></span>
								</div>
	
							</div>
						</div>
						<div class="quickview-info">
	
							<div class="reviews_qv">
								<div class="bizweb-product-reviews-badge" data-id=""></div>
							</div>
	
							<span class="prices">
								<span class="price"></span>
								<del class="old-price"></del>
							</span>
						</div>
						<div class="product-description">
							<div class="rte text2line">
	
							</div>
	
						</div>
	
						<form action="https://template-digiworld.mysapo.net/cart/add" method="post"
							enctype="multipart/form-data" class="quick_option variants form-ajaxtocart">
							<span class="price-product-detail hidden" style="opacity: 0;">
								<span class=""></span>
							</span>
							<select name="variantId" class="hidden" style="display:none"></select>
							<div class="clearfix"></div>
							<div class="quantity_wanted_p">
								<div class="input_qty_qv">
									<a class="btn_num num_1 button button_qty">-</a>
									<input type="text" id="quantity-detail" name="quantity" value="1"
										onkeypress="validate(event)"  class="form-control prd_quantity">
									<a class="btn_num num_2 button button_qty"
										>+</a>
								</div>
	
								<div class="button_actions">
									<button type="submit"
										class="btn btn-lg fix_add_to_cart  btn-cart button_cart_buy_enable add_to_cart btn_buy add_to_cart_detail ajax_addtocart"
										title="Cho vào giỏ hàng">
										<span class="btn-image">
											<img src="./images/shopping_cart.png" alt="shopping-cart">
										</span>
										<span class="btn-content">Cho vào giỏ hàng</span>
									</button>
								</div>
							</div>
							<div class="total-price" style="display:none">0₫</div>
	
						</form>
	
	
					</div>
	
				</div>
				<a title="Close" class="quickview-close close-window" href="javascript:;"><i class="fa   fa-times"></i></a>
			</div>
		</div>
	
	
	
	
	
	
		<!-- Product detail JS,CSS -->
	
		
		<link rel="preconnect" href="https://fonts.googleapis.com/">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
		<link href="./css2" rel="stylesheet">
		</main>
	</body>
</html>